<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Basic Servlet Web Application</display-name>
	
	<servlet>
		<servlet-name>Basic Servlet</servlet-name>
		<servlet-class>ch.fhnw.webfr.flashcard.web.BasicServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Basic Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<!-- Filter deklarieren -->
	<filter>
		<filter-name>Basic Filter</filter-name>
		<filter-class>ch.fhnw.webfr.flashcard.web.BasicFilter</filter-class>
	</filter>
	
	<!--  Filter auf ein Servlet mappen -->
	<filter-mapping>
		<filter-name>Basic Filter</filter-name>
		<servlet-name>Basic Servlet</servlet-name>
	</filter-mapping>
	
	<!-- Filter deklarieren -->
	<filter>
		<filter-name>i18n Filter</filter-name>
		<filter-class>ch.fhnw.webfr.flashcard.web.I18NFilter</filter-class>
	</filter>
	
	<!--  Filter auf eine URL mappen -->
	<filter-mapping>
		<filter-name>i18n Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>ch.fhnw.webfr.flashcard.web.BasicListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>mode</param-name>
		<param-value>test</param-value>
	</context-param>
	
	<context-param>
		<param-name>in18n</param-name>
		<param-value>i18n.properties</param-value>
	</context-param>
</web-app>
